<!DOCTYPE html>
<html lang="zh-Hant">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta name="robots" content="index, follow" />
        <meta name="author" content="ChengTze" />
        <title>weHelpImage</title>
    </head>
    <body>
        <h2>發表一篇圖文</h2>
        <form action="post">
            <label for="content">文字內容</label>
            <input type="text" name="content" id="content" />
            <label for="image">圖片檔案</label>
            <input type="file" name="image" id="image" />
            <input type="submit" value="送出" />
        </form>
    </body>
</html>
