<!DOCTYPE html>
<html lang="zh-Hant">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta name="robots" content="index, follow" />
        <meta name="author" content="ChengTze" />
        <title>WeHelpBoard</title>
        <link
            rel="stylesheet"
            href="{{ url_for('static', filename='style.css') }}"
        />
    </head>
    <body>
        <h2>發表一篇圖文</h2>
        <label for="content">文字內容</label>
        <input type="text" name="content" id="content" />
        <br />
        <label for="image">圖片檔案</label>
        <input type="file" name="image" id="image" accept="image/*" />
        <br />
        <input type="submit" value="送出" />
        <hr />
        <div id="root"></div>
        <script src="{{ url_for('static', filename='connect.js') }}"></script>
    </body>
</html>
